$large-shadow: 0px 0px  6px rgba(0, 0, 0, 0.2);
$radius: 8px;
$padding: 16px; 

$bg: #F3F4F6;

$neutral-50: #fff;
$neutral-100: #F3F4F6;
$neutral-200: #E2E8F0;
$neutral-300: #C4C9D4;
$neutral-400: #94A3B8;
$neutral-500: #6C7993;
$neutral-600: #2B303B;
$neutral-700: #1A1F2E;

$primary-200: #DED3F8;
$primary-300: #BDA6F2;
$primary-500: #7A52E1;
$primary-600: #5B3DAD;

$danger-200: #FED2DA;
$danger-300: #F88BA2;
$danger-500: #EF2D57;
$danger-600: #CC2A4B;

$alert-200: #FFE9C8;
$alert-300: #FFD37B;
$alert-500: #FB991E;
$alert-600: #F97F18;

$success-200: #AEEEEA;
$success-300: #7DE1D9;
$success-500: #0BC2B4;
$success-600: #0B877D;

$info-200: #D1E7FD;
$info-300: #82BDFF;
$info-500: #308CF6;
$info-600: #0A65D1;